site_name: Abel Tharakan | Engineering Portfolio

theme:
  name: material
  logo: assets/images/logo.png  # optional, can remove
  favicon: assets/images/favicon.png  # optional
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - toc.follow
    - content.code.copy
palette:
  - scheme: default
    primary: indigo
    accent: cyan
    toggle:
      icon: material/weather-night
      name: Switch to dark mode
  - scheme: slate
    primary: indigo
    accent: cyan
    toggle:
      icon: material/weather-sunny
      name: Switch to light mode





plugins:
  - search

nav:
  - Home: index.md
  - Projects:
      - Aircraft Design: projects/ae4311-aircraft-design.md
      - Afterburning Turbofan Design: projects/ae4451-turbofan.md
      - Controls Labs: projects/ae4610-controls-labs.md
      - Experimental Methods: projects/ae3610-experimental-methods.md
      - Labs + Drone Noise Project: projects/ae2610-labs-and-drone-noise.md
      - HPR Level 1 Rocket: projects/hpr-level1-rocket.md
      - Homemade Jet Engine: projects/homemade-jet-engine.md
      - Spider Walking Robot: projects/me1670-spider-robot.md
  - About / Contact: about.md

extra_css:
  - stylesheets/extra.css
